server/cartoserver.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:enc="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://camptocamp.com/wsdl/cartoserver/" xmlns:types="http://camptocamp.com/cartoserver/xsd" xmlns:test="http://camptocamp.com/cartoserver" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:enc11="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://camptocamp.com/wsdl/cartoserver/" name="CartoserverWsdl">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://camptocamp.com/cartoserver/xsd">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

    <!-- Basic types -->

      <complexType name="Bbox">
        <all>
          <element name="minx" type="xsd:double"/>
          <element name="miny" type="xsd:double"/>
          <element name="maxx" type="xsd:double"/>
          <element name="maxy" type="xsd:double"/>
        </all>
      </complexType>

      <complexType name="Point">
        <all>
          <element name="x" type="xsd:double"/>
          <element name="y" type="xsd:double"/>
        </all>
      </complexType>

      <complexType name="ArrayOfPoint">
        <complexContent>
          <restriction base="enc11:Array">
            <attribute ref="enc11:arrayType" wsdl:arrayType="types:Point[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="Shape">
        <all>
          <element name="className" type="xsd:string"/>
          <element name="x" type="xsd:double" minOccurs="0"/>
          <element name="y" type="xsd:double" minOccurs="0"/>
          <element name="minx" type="xsd:double" minOccurs="0"/>
          <element name="miny" type="xsd:double" minOccurs="0"/>
          <element name="maxx" type="xsd:double" minOccurs="0"/>
          <element name="maxy" type="xsd:double" minOccurs="0"/>
          <element name="points" type="types:ArrayOfPoint" minOccurs="0"/>
        </all>
      </complexType>     

      <complexType name="ArrayOfShape">
        <complexContent>
          <restriction base="enc11:Array">
            <attribute ref="enc11:arrayType" wsdl:arrayType="types:Shape[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="ArrayOfLayerId">
        <complexContent>
          <restriction base="enc11:Array">
            <attribute ref="enc11:arrayType" wsdl:arrayType="xsd:string[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="ArrayOfString">
        <complexContent>
          <restriction base="enc11:Array">
            <attribute ref="enc11:arrayType" wsdl:arrayType="xsd:string[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="Dimension">
        <all>
          <element name="width" type="xsd:int"/>
          <element name="height" type="xsd:int"/>
        </all>
      </complexType>

      <complexType name="GeoDimension">
        <all>
          <element name="dimension" type="types:Dimension"/>
          <element name="bbox" type="types:Bbox"/>
        </all>
      </complexType>


    <!-- Mapinfo structure -->

      <complexType name="MapInfo">
        <all>
          <element name="timestamp" type="xsd:integer"/>
          <element name="mapLabel" type="xsd:string"/>
          <element name="keymapGeoDimension" type="types:GeoDimension"/>
          <element name="notAvailableIcon" type="xsd:string"/>
          <element name="notAvailablePlusIcon" type="xsd:string"/>
          <element name="notAvailableMinusIcon" type="xsd:string"/>
          <element name="layers" type="types:ArrayOfLayer"/>
          <element name="initialMapStates" type="types:ArrayOfInitialMapState"/>
          {PLUGINS_INIT}
        </all>
      </complexType>
      
      <complexType name="ArrayOfLayer">
        <complexContent>
          <restriction base="enc11:Array">
            <attribute ref="enc11:arrayType" wsdl:arrayType="types:Layer[]"/>
          </restriction>
        </complexContent>
      </complexType>     

      <complexType name="Layer">
        <all>
          <element name="className" type="xsd:string"/>
          <element name="id" type="xsd:string"/>
          <element name="label" type="xsd:string"/>
          <element name="children" type="types:ArrayOfLayerId" minOccurs="0"/>
          <element name="minScale" type="xsd:double"/>
          <element name="maxScale" type="xsd:double"/>
          <element name="icon" type="xsd:string"/>
          <element name="link" type="xsd:string"/>
          <element name="aggregate" type="xsd:boolean" minOccurs="0"/>
          <element name="rendering" type="xsd:string" minOccurs="0"/>
          <element name="metadata" type="types:ArrayOfString" minOccurs="0"/>
        </all>
      </complexType>
      
      <complexType name="ArrayOfInitialMapState">
        <complexContent>
          <restriction base="enc11:Array">
            <attribute ref="enc11:arrayType" wsdl:arrayType="types:InitialMapState[]"/>
          </restriction>
        </complexContent>
      </complexType>
      
      <complexType name="InitialMapState">
        <all>
          <element name="id" type="xsd:string"/>
          <element name="location" type="types:InitialLocation"/>
          <element name="layers" type="types:ArrayOfLayerState"/>
        </all>
      </complexType>
      
      <complexType name="InitialLocation">
        <all>
          <element name="bbox" type="types:Bbox"/>
        </all>
      </complexType>

      <complexType name="ArrayOfLayerState">
        <complexContent>
          <restriction base="enc11:Array">
            <attribute ref="enc11:arrayType" wsdl:arrayType="types:LayerState[]"/>
          </restriction>
        </complexContent>
      </complexType>
      
      <complexType name="LayerState">
        <all>
          <element name="id" type="xsd:string"/>
          <element name="hidden" type="xsd:boolean"/>
          <element name="frozen" type="xsd:boolean"/>
          <element name="selected" type="xsd:boolean"/>
          <element name="unfolded" type="xsd:boolean"/>
        </all>
      </complexType>
      
      <!-- mapRequest|Result -->

      <complexType name="MapRequest">
        <all>
          <element name="mapId" type="xsd:string"/>
          {PLUGINS_REQUEST}
        </all>
      </complexType>
      
      <complexType name="ArrayOfMessage">
        <complexContent>
          <restriction base="enc11:Array">
            <attribute ref="enc11:arrayType" wsdl:arrayType="types:Message[]"/>
          </restriction>
        </complexContent>
      </complexType>

      <complexType name="Message">
        <all>
          <element name="channel" type="xsd:integer"/>
          <element name="message" type="xsd:string"/>
        </all>
      </complexType>
      
      <complexType name="MapResult">
        <all>
          <element name="timestamp" type="xsd:integer"/>
          <element name="serverMessages" type="types:ArrayOfMessage" minOccurs="0"/>
          {PLUGINS_RESULT}
        </all>
      </complexType>

      {PLUGINS_SPECIFIC_WSDL}
    </schema>
  </wsdl:types>

  <wsdl:message name="getMapInfoRequest">
    <wsdl:part name="mapId" type="xsd:string"/>
  </wsdl:message>

  <wsdl:message name="getMapInfoResult">
    <wsdl:part name="return" type="types:MapInfo"/>
  </wsdl:message>

  <wsdl:message name="getMapResult">
    <wsdl:part name="return" type="types:MapResult"/>
  </wsdl:message>

  <wsdl:message name="getMapRequest">
    <wsdl:part name="mapRequest" type="types:MapRequest"/>
  </wsdl:message>

  <portType name="CartoserverPortType">
    <wsdl:operation name="getMap">
      <wsdl:input message="tns:getMapRequest"/>
      <wsdl:output message="tns:getMapResult"/>
    </wsdl:operation>
    <wsdl:operation name="getMapInfo">
      <wsdl:input message="tns:getMapInfoRequest"/>
      <wsdl:output message="tns:getMapInfoResult"/>
    </wsdl:operation>
  </portType>

  <binding name="CartoserverBinding" type="tns:CartoserverPortType">
    <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMap">
      <input>
        <soap12:body use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://camptocamp.com/cartoserver"/>
      </input>
      <output>
        <soap12:body use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://camptocamp.com/cartoserver"/>
      </output>
    </wsdl:operation>
    <wsdl:operation name="getMapInfo">
      <input>
        <soap12:body use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://camptocamp.com/cartoserver"/>
      </input>
      <output>
        <soap12:body use="encoded" encodingStyle="http://www.w3.org/2003/05/soap-encoding" namespace="http://camptocamp.com/cartoserver"/>
      </output>
    </wsdl:operation>
  </binding>
  <service name="CartoserverService">
    <port name="CartoserverRpcPort" binding="tns:CartoserverBinding">
       <soap12:address location="{SOAP_ADDRESS}"/>
    </port>
  </service>
</wsdl:definitions>
